
<html>
    <head>
        <title>Guidance Feedback React Component</title>
        <style>
            body {
                background:#ececec;
            }
        </style>
    </head>
    <body>
        <div id="guidance-feedback" class="component"><!-- Silence is gold! --></div>
    </body>
    <script src="../index.js"></script>
</html>