
<html>
    <head>
        <title>Guidance Feedback React Component</title>
    </head>
    <body>
        <h1><%= title %></h1>
        <div id="guidanceFeedback">
            There's not React attached to this element!
        </div>
    </body>
    <script src="../index.js"></script>
</html>