
<html>
    <head>
        <title>Feedback widget</title>
    </head>
    <body>
        <h1><%= message %></h1>
        <div id="feedBackWidget">
            Coolio! BUT there's not React attached to this element
        </div>
        <div id="link">
            I was suppose to be a link but React is not working
        </div>
        <div id="checkBox">
            I'm a checkbox using Enzyme testing
        </div>
    </body>
    <script src="../index.js"></script>
</html>