
<html>
    <head>
        <title>Feedback widget</title>
    </head>
    <body>
        <h1><%= message %></h1>
        <div id="guidanceFeedback">
            Coolio!, BUT there's not React attached to this element!
        </div>
    </body>
    <script src="../index.js"></script>
</html>