
<html>
    <head>
        <title><%= title %></title>
    </head>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T8DSWV');
    </script>
    <!-- End Google Tag Manager -->

    <body>
    <h1><%= title %></h1>
    </body>
    <script src="../index.js"></script>
</html>