<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter your details timer</title>
</head>
<body>
    <div class="prompt-grey full-width" id="enter-your-details-timer">
        <p class="bold-text">You have 20 minutes to enter your details.</p>
        <span id="timer">Enter you details by 08:30 AM British Summer Time (BST).</span>
        <small>If you do not complete the form by this time we will cancel your seat and you will need to start the process
            again.
        </small>
    </div>
    <script src="/book-a-reading-room-visit-0.0.1.js"></script>
</body>
</html>

