
<html>
    <head>
        <title>Global Search React Component</title>
        <!-- TNA-base core minified CSS -->
        <link rel="stylesheet" href="https://cdn.nationalarchives.gov.uk/tna-base/1.0/css/tna-base.min.css">
    </head>

    <body>

    <header id="header" role="banner" style="overflow: unset !important;">
        <a id="skip-to-main-content" href="#breadcrumb-holder">Skip to Main Content</a>
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-5" id="logo-holder">
                    <button aria-label="Toggle menu" id="mega-menu-mobile"></button>
                    <a href="http://www.nationalarchives.gov.uk" title="Go to The National Archives homepage" class="visible-lg visible-md visible-sm">
                        <img src="http://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/logo-white.png" alt="The National Archives" class="img-responsive">
                    </a>
                </div>
                <div class="col-xs-8 col-sm-2" id="mobile-logo-holder">
                    <button title="Main menu" aria-label="Toggle menu" id="mega-menu-pull-down" class="hidden-xs"><span>Menu</span></button>
                    <a href="http://www.nationalarchives.gov.uk" title="Go to The National Archives homepage" class="hidden-lg hidden-md hidden-sm">
                        <img src="http://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/logo-white.png" alt="The National Archives" class="img-responsive">
                    </a>
                </div>
                <div id="global-search-desktop-component" class="col-xs-2 col-sm-5">
                    <nav>
                            <ul>
                                <li><a href="http://www.nationalarchives.gov.uk/search/">Search our website</a></li>
                                <li><a href="http://discovery.nationalarchives.gov.uk">Search Discovery, our catalogue</a></li>
                            </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div id="global-search-mobile-component" class="col-xs-12 col-sm-12">
                    <nav>
                            <ul>
                                <li><a href="http://www.nationalarchives.gov.uk/search/">Search our website</a></li>
                                <li><a href="http://discovery.nationalarchives.gov.uk">Search Discovery, our catalogue</a></li>
                            </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
        <p>Up arrow: made by Dave Gandy from www.flaticon.com</p>
        <p>Down arrow: made by Dave Gandy from www.flaticon.com </p>
        <p>Search icon: made by Anton Saputro from www.flaticon.com</p>
    </body>
    <script src="../website-1.0.0.js"></script>
</html>
