
<html>
    <head>
        <title>Global Search React Component</title>
        <style>
            body {
                background:#ececec;
            }
        </style>
    </head>

    <body>
        <div id="global-search-react-component">
            
        </div>
    </body>
    <script src="../index.js"></script>
</html>