<html>
  <head>
    <title>Guidance Feedback React Component</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
      body {
        background: #ececec;
      }
    </style>
  </head>
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T8DSWV');
  </script>
  <!-- End Google Tag Manager -->

  <body>
    <div class="research-guide">
      <div class="col starts-at-full ends-at-one-third clr box"></div>
    </div>
  </body>
  <script src="../../website-1.0.2.js"></script>
</html>
