<html>
  <head>
    <title>Discovery Home Page Search</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body class="home">
    <div id="page_wrap">
      <div class="search-banner"></div>
    </div>
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-T8DSWV');
    </script>
    <!-- End Google Tag Manager -->
  </body>
  <script src="../../discovery-1.0.0.js"></script>
</html>
