<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <header>

    </header>
    <body>
        <h1><%= title %></h1>
        <h2>Home page under contruction</h2>
    </body>
</html>