<html>
  <head>
    <title>Recommended</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body class="search-results">
    <h1>Search</h1>
    <div class="searchbox">
      <form method="GET" action>
        <input type="text" name="_q" />
        <input type="submit" value="Search" />
      </form>
    </div>

    <div class="generic-tabs"></div>
  </body>
  <script src="../discovery-1.0.0.js"></script>
</html>
