<html>
<head>
    <title>WTEG Feedback React Component</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1.0" />

    <style>
        #wteg-image-wrapper .what-to-expect-image {
            width: 10%;
        }
    </style>
</head>
<script>
	(function(w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start': new Date().getTime(),
			event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s),
			dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-T8DSWV');
</script>
<!-- End Google Tag Manager -->

<body class="details-page">
    <aside class="row">
        <div class="details-breather details-row margin-bottom holding-box border-top" id="what-to-expect">
            <div class="details-wrapper">
                <h2 class="inline">Before you get started</h2>
                <div id="introduction">
                    <div>
                        <p>No two records are the same, so please keep in mind that the records in this series will contain varying levels of detail, cover different time periods, and might not always be easy to read.</p>
                        <p>This short guide gives you an idea of what to expect from a typical record, and shows you an example of what one might look like. We can’t guarantee you will unearth what you are looking for, but we can help you enjoy the process of finding out.</p>
                    </div>
                    <div id="wteg-image-wrapper">
                            <a id="expandable-sample" href="~/Content/images/whatToExpect/wte-example.png" target="_blank">
                                <img src="https://images.unsplash.com/photo-1561119331-236e3bcf921c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3334&q=80" alt="A War Diary" class="what-to-expect-image" />
                                <span>Click to view example image</span>
                            </a>
                    </div>
                </div>
                <div id="supplemental">
                    <h3>What information do the records contain?</h3>
                    <p>Some diaries record little more than daily losses and map references, while others are much more descriptive, with daily reports on operations, intelligence summaries and other material. The digitised diaries cover activity in France and Belgium.</p>
                    <p>The diaries sometimes contain information about particular people but they are unit diaries, not personal diaries. A few contain details about awards of the Military Medal and the Meritorious Service Medal.</p>
                    <p>Many maps and plans were included in the original diaries but some confidential material was removed before the files were made available. This accounts for theabsence of some appendices referred to on the covers of many diaries.</p>
                    <h3>What do the records look like?</h3>
                    <p>With each download, you will typically see a unit diary that may cover a period ofseveral years. This may be divided into several PDF files, which you can save to your computer. You can then scroll through the PDF files to locate the battalion and dates that you are interested in.</p>
                    <p>Many of the war diaries were scribbled hastily in pencil and use obscure abbreviations, whilst some are the second carbon copy of the original, so they may be difficult to read.</p>
                </div>
            </div>
        </div>
    </aside>
</div>
</body>
<script src="../../discovery-1.1.9.js"></script>
</html>
