<!DOCTYPE html>
<html>
  <head>
    <title>Modal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1.0" />
  </head>
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T8DSWV');
  </script>
  <!-- End Google Tag Manager -->
  <body class="search-results">
    <div class="details-page">
        <div class="details-breather details-row margin-bottom holding-box border-top" id="what-to-expect">
            <div class="details-wrapper">
                <h2 class="section-heading">What this record may contain</h2>
                <div>
                  <div id="wteg-image-wrapper">
                      <img id="sample" style="width: 25%" src="https://images.unsplash.com/photo-1561119331-236e3bcf921c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3334&q=80" alt="A War Diary" class="what-to-expect-image">
                  </div>
                    
                    <p>With each download, you will typically see a unit diary that may cover a period of several years. This may be divided into several PDF files, which you can save to your computer. You can then scroll through the PDF files to locate the batallion and dates that you are interested in.</p>
                    <button class="discoveryPrimaryCallToActionLink">Read more...</button><div class="supplemental" style="display: none;">
                        <h3>What do the records look like?</h3>
                        <p>Many of the war diaries were scribbled hastily in pencil and use obscure abbreviations, whilst some are the second carbon copy of the original, so they may be difficult to read.</p>
                        <h3>What information do the records contain?</h3>
                        <p>Some diaries record little more thatn daily losses and map references whilst others are much more descriptive, with daily reports on operations, intelligence summaries and other material. The digitised diaries cover activity in France and Belgium.</p>
                        <p>The diaries sometimes contain information about particular people but they are unit diaries, not personal diaries. A few contain details about awards of the Military Medal and the Meritorious Service Medal.</p>
                        <p>Many maps and plans were included in the original diaries but some confidential material was removed before the files were made available. This accounts for the absence of some appendices referred to on the covers of many diaries.</p>
                        <p>You can take part in our crowdsourcing project <a href="http://www.operationwardiary.org/">Operation War Diary</a>, which aims to unearth the details from within the diaries, including names, places and events.</p>
                        <p>Snapshots from unit war diaries have been used&nbsp;to create our&nbsp;<a title="External website - link opens in a new window" href="https://twitter.com/UnitWarDiaries">@unitwardiaries</a> twitter feed. This is a great way to see the variety of information the diaries contain.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
  </body>
  <script src="../../discovery-1.0.0.js"></script>
</html>