// Variables
$tna_font: 'Open Sans', sans-serif;
$tna_light_border: 1px solid #ddd;
$tna_white: #fff;
$tna_grey: #ddd;
$tna_mid_grey: #eee;
$tna_teal: #099;
$tna_black: #000;
$tna_border_color: #ccc;
$tna_outline: #fce45c;

#feedback-widget-row {
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

  position: relative;
  display: block;
  border-top: $tna_light_border;
  background-color: $tna_white;

  > div {
    font-family: $tna_font;
    font-size: 16px;
    margin-bottom: 1.5em;
    overflow: hidden;
    position: relative;

    @media (min-width: 768px) {
      padding: 1em;
    }

    @media (max-width: 767px) {
      padding: 0.5em;
    }

    > div {
      padding: 0.3em;
      overflow: hidden;
    }
  }
}

#what-to-expect-form {
  margin: 3em 0 0;

  h2 {
    margin: 0;
  }
}

#details-feedback-wrapper,
#what-to-expect-form {
  h2 {
    font-family: $tna_font;
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
    margin: 0.3em 0;
    color: $tna_black;
  }
  > div {
    margin-top: 1em;

    form {
      display: block;

      fieldset {
        transition: all 2s ease 0s;
        top: 0; /* start out at position 0 */

        padding-left: 1em;
        border: 1px solid $tna_border_color;
        width: auto;
        margin: 0 0 1.2em 0;
        position: relative;
        padding-bottom: 0.8em;
        padding-top: 1em;

        legend {
          display: block;
          border: 1px solid $tna_border_color;
          padding: 0.4em;
        }
        button {
          font-family: inherit;
          font-size: 100%;
          margin: 0;
          outline: 0;
          -webkit-appearance: button;
          cursor: pointer;

          &:first-of-type {
            margin-right: 0.2em;
          }
        }
        [type='reset'],
        [type='submit'] {
          margin-top: 1em;
          border-width: 0;
          padding: 0.4em;
          -webkit-appearance: button;
          cursor: pointer;
        }

        [type='submit'] {
          background-color: $tna_teal;
          color: $tna_white;
        }
        [type='reset'] {
          background-color: $tna_grey;
          color: $tna_black;
        }
        .checkbox {
          position: relative;
          display: block;
          margin-top: 10px;
          max-width: 95%;
          margin: 0 auto;

          [type='checkbox'] {
            position: absolute;
            margin-left: 0;
            box-sizing: border-box;
            padding: 0;
            margin: 10px -7px 0;
            width: auto;
            font-size: 100%;
          }
          label {
            display: inline-block;
            min-height: 20px;
            width: 100%;
            margin-right: 0;
            margin-left: 1em;
            // margin-top: 0.1em;
            padding: 5px 3px;
          }
        }
        .comment {
          position: relative;
          display: block;
          margin-top: 10px;
          max-width: 94.5%;
          margin: 0.5em auto;

          label {
            display: inline-block;
            min-height: 20px;
            width: 100%;
            margin-right: 0;
          }

          [type='text'],
          textarea {
            margin-top: 0.2em;

            margin-bottom: 0.2em;
            width: 100%;
            min-height: 5em;
            border: 1px solid $tna_border_color;
            padding: 5px 3px;
            line-height: normal;
            font-size: 100%;
          }
          p {
            color: #6f777d;
            margin: 0;
          }
        }
      }

      fieldset.initial-question {
        padding-left: 0;
        padding-top: 0;
        border: none;

        button {
          border: 1px solid #999;
          background: $tna_white;

          &:hover {
            -o-transition: 0.5s;
            -ms-transition: 0.5s;
            -moz-transition: 0.5s;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            background-color: $tna_mid_grey;
          }
          &:focus {
            background-color: $tna_mid_grey;
            border: 1px solid #999;
          }
        }
        legend {
          border: none;
          padding: 0;
          margin-bottom: 0.5em;
        }
      }
    }
  }

  .noMarginLeft {
    > .comment {
      padding-left: 0;
      margin-left: 1em;
    }
  }

  .fadeIn {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  button,
  input,
  textarea {
    &:focus {
      outline: 2px solid $tna_outline;
    }
  }
  #yes_fieldset {
    padding: 1em;
    div.checkbox {
      input[type='checkbox']:focus + label {
        outline: 2px solid $tna_outline;
      }
    }
    .comment {
      padding-left: 2em;

      @media (max-width: 375px) {
        padding: 0;
        margin: 1em 0 0 0;
      }
    }
  }
  #no_fieldset {
    padding: 1em;
    .comment {
      @media (max-width: 375px) {
        margin-left: 0;
      }
    }
  }
}
