#global-search-desktop-component, #global-search-mobile-component {

  $outline-colour: #1d70b8;
  $button-bg: #26262a;
  $button-focus-hover-bg: #fce45c;
  $button-focus-hover-text: #000;

  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;

  form {
    width: 100%;
  }

  label {
    padding: 0;
    margin: 0;
  }

  input[type="search"], .search-submit, .show-search-options {
    border: 2px solid white;
  }

  fieldset {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    display: inline-block;
    vertical-align: top; /* Remove? */
  }

  .show-search-options {
    width: 4rem;
    height: 4rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background: #555 url(src/arrow_down.svg) no-repeat center;
    background-size: 60%;


  }

  #search-options {
    input[type=checkbox] {

      &:checked + label {
        background-size: 60%;
        background-image: url(src/arrow_up.svg);
      }

      &:focus + label {
        outline: $outline-colour solid 5px;
        position: relative;
        z-index: 1;
      }

    }
  }

  @media screen and (min-width: 768px) {
    float: right;
    width: 300px;
    display: inline-block;
    z-index: 1;

    #select-search-type {
      position: absolute;
      width: 21rem;
      top: 4rem;
      background-color: #333;
    }

   input[type="search"]{
     width: 21rem;
   }

    input[type=radio] {

      + label {
        padding: 0.5em 0.9em;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        color: #fff;
      }

      &:hover + label, &:checked + label {
        padding: 0.5em 0.9em;
        background: $button-focus-hover-bg;
        color: $button-focus-hover-text;
        cursor: pointer;
      }

      &:focus + label {
        outline: $outline-colour solid 5px;
        position: relative;
      }

    }

    .search-submit {
      text-align: center;
      width: 4rem;
      height: 4rem;
      color: transparent;
      cursor: pointer;
      background: $button-bg url(src/search_icon.svg) no-repeat center;
      display: inline-block;
      vertical-align: top;
      background-size: 60%;

      &:hover, &:focus {
        background: #555 url(src/search_icon.svg) no-repeat center;
        background-size: 60%;
      }

    }

  }

  @media screen and (max-width: 767px) {

    form {
      margin-top: 14px;
    }

    .search-submit {
      text-align: center;
      color: #fff;
      cursor: pointer;
      background: $button-bg;
      display: inline-block;
      vertical-align: top;
      background-size: 60%;
      margin-top: 14px;
      &:hover, &:focus {
        background: $button-focus-hover-bg;
        background-size: 60%;
        color: #000;
      }

    }

    .show-hide-mobile {
      background: url(src/search_icon.svg) no-repeat center;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: -5rem;
      background-size: 60%;
    }

    #select-search-type {
      width: 100%;
      margin-top: 7px !important;
      div {
        display: inline-block;
        padding-right: 2rem;
      }

      input[type="radio"] {
        margin: .75rem;
      }

    }

    #search-query {
      width: 100%;

      input[type="search"] {
        width: 100%;
      }

    }

  }

  input[type="search"] {

    -webkit-appearance: none; /* https://stackoverflow.com/questions/7134202/input-type-search-dont-accept-height */
    height: 4rem;
    padding: 0;
    border-radius: 0;
    text-indent: 1rem;
    display: inline-block;
    color: #000;

  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
  }

  .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
  }

  .focusable-outline:focus {
    outline: $outline-colour solid 5px;
    position: relative;
  }

}

#global-search-desktop-component {
  @media screen and (max-width: 767px) {
    form {
      display: none;
    }
  }
}

#global-search-mobile-component {
  @media screen and (min-width: 767px) {
    display: none;
  }
}

form[aria-hidden=true]{
  display: none;
}

#select-search-type label {
  font-family: 'Open Sans', sans-serif;
}
