#global-search-desktop-component, #global-search-mobile-component {

  $outline-colour: #ebab00;
  $button-bg: #008484;
  $button-focus-hover-bg: #fce45c;
  $button-focus-hover-text: #000;

  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;

  label {
    padding: 0;
    margin: 0;
  }

  fieldset {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    display: inline-block;
    vertical-align: top; /* Remove? */
  }

  .show-search-options {
    width: 4rem;
    height: 4rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background: #555 url(src/arrow_down.svg) no-repeat center;
  }

  input[type=checkbox] {

    &:checked + label {
      background-image: url(src/arrow_up.svg);
    }

    &:focus + label {
      outline: $outline-colour solid 3px;
      position: relative;
      z-index: 1;
    }

  }

  @media screen and (min-width: 768px) {
    float: right;
    #select-search-type {
      position: absolute;
      width: 26.6rem;
      top: 4rem;
      background-color: #333;
    }

    input[type="search"] {
      width: 22.6rem;
    }

    input[type=radio] {

      + label {
        padding: 0.5em 0.9em;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        color: #fff;
      }

      &:hover + label, &:checked + label {
        padding: 0.5em 0.9em;
        background: $button-focus-hover-bg;
        color: $button-focus-hover-text;
        cursor: pointer;
      }

      &:focus + label {
        outline: $outline-colour solid 3px;
        position: relative;
      }

    }

  }

  @media screen and (max-width: 767px) {

    #select-search-type {
      width: 100%;

      div {
        display: inline-block;
        padding-right: 2rem;
      }

      input[type="radio"] {
        margin: .75rem;
      }

    }

    #search-query {
      width: 100%;

      input[type="search"] {
        width: 100%;
      }

    }

  }

  input[type="search"] {

    -webkit-appearance: none; /* https://stackoverflow.com/questions/7134202/input-type-search-dont-accept-height */
    height: 4rem;
    border: none;
    padding: 0;
    border-radius: 0;
    text-indent: 1rem;
    display: inline-block;
    color: #000;

  }

  .search-submit {
    text-align: center;
    width: 4rem;
    height: 4rem;
    color: transparent;
    cursor: pointer;
    border: 0px;
    background: $button-bg url(src/search_icon.svg) no-repeat center;
    display: inline-block;
    vertical-align: top;

    &:hover, &:focus {
      background: $button-focus-hover-bg url(src/search_icon_dark.svg) no-repeat center;
    }

  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
  }

  .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
  }

  .focusable-outline:focus {
    outline: $outline-colour solid 3px;
    position: relative;
  }

}