.searchList li.recommended-link h3 {
    margin-top: 1.5em;
}
.searchList li.recommended-link h3::before {
    content: "Recommended link";
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 13px;
    padding: 3px 8px;
    background-color: #F93;
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
}
.searchList li {
    border-bottom: 1px solid #DDD;
    position: relative;
    padding: 1em;
    box-sizing: border-box;
}
.searchList .recommended-link {
    background: #f9f9f9;
    margin: 0 0 20px;
    border-bottom: 1px solid #ddd;
}
.searchList li.recommended-link {
    border-left: 2px solid #F93;
}
.searchList li {
    border-bottom: 1px solid #DDD;
    position: relative;
    padding: 1em;
    box-sizing: border-box;
}
#search-control-panel li:first-child {
    font-weight: bold;
    margin-right: 20px;
}
#search-control-panel {
    text-align: left;
    background: none;
}