#discovery-homepage-search-react-component {
  *{box-sizing:border-box}
  .grid-container {
    display:block;
  }
  .emphasis-block {
    font-family: 'Open Sans', arial, sans-serif;
    border-left: 4px solid #ebab2c;
    display: block;
    background: #fff8d0;
    margin-bottom: 25px;
    color: black;
    margin: 1em 0;
    padding: 1em 1em;
    font-size: 1em;
    span {
      padding: 3px 0 3px 0;
      display: block;
    }
    p {
      font-weight: 500;
      z-index: 2;
      letter-spacing: -0.025em;
      font-size: 1.3em;
      padding: 0;
      margin: 0;
    }
  }
  .Headline {
    font-family: 'Bitter', serif;
    font-weight: 400;
    color: white;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  //'InputBetween InputAnd InputAcross InputAcross'
.MainSearch {
  margin: 0 0 1em 0;
  .fixed-width {
    width:70px;
  }
  input[type='text'] {
    border-color: #fff;
    width: 715px;
    height: 40px;
    display:inline-block;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 16px;
    border: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    &:focus {
      outline: 2px solid #fce45c;
    }
    @media (max-width: 835px) {
      //width: 90%;
    }
  }
  label {
    color: white;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 15px;
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    &:focus {
      outline: 2px solid #fce45c;
    }
    }
  }
  .InputBetween {
    width:206px;
    display:inline-block;
    @extend .MainSearch;
    input[type='number'] {
      font-size: 16px;
      padding: 0.5em;
      height: auto;
      width: 75px;
      &:focus {
        outline: 2px solid #fce45c;
      }
    }
  }
  .InputAnd {
    @extend .InputBetween;
    label {
      font-size: 16px;
    }
  }
  .InputAcross {
    @extend .MainSearch;
    width:388px;
    display:inline-block;
    select {
      height: 40px;
      font-size: 16px;
      width:325px;
      &:focus {
        outline: 2px solid #fce45c;
      }
    }
    label {
      font-size: 16px;
    }
  }
  .Search {
  
  }
  .MoreOptions {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    color: white;
    font-size: 0.8em;
    
    a {
      color: #fce45c;
      display: inline-block;
      text-decoration: none;
      &:visited,
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        outline: 2px solid #fce45c;
      }
    }
  }
}

.field-container {
  overflow:hidden;
  background: rgba(0, 0, 0, 1);
  width: auto;
  margin: 0 auto 40px;
  padding: 20px 20px;
  max-width: 800px;
  @media screen and (min-width: 1024px) {
    background: rgba(0, 0, 0, 0.7);
    width: 70%;
    padding: 40px 70px;
    border-radius: 15px;
  }
}
